/* ============================
   ESTILOS BASE
   ============================ */

body {
  font-family: var(--font-text);
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-dark);
  background-color: var(--white);
}

/* TÍTULOS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-dark);
}

/* Jerarquía básica */
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  color: var(--text-gray);
  max-width: 75ch;
}

/* LINKS */
a {
  color: var(--orange);
  text-decoration: none;
}

a:hover {
  color: var(--blue);
}
