/* ============================
   FASTWAY – VARIABLES GLOBALES
   ============================ */

:root {
  /* ===== COLORES ===== */
  --white: #ffffff;

  --orange: #f86b25; /* color principal */
  --blue: #73aded; /* hover / matiz */
  --red: #f22f0f; /* acento leve */
  --green: #01ed28; /* éxito */

  /* ===== TEXTO ===== */
  --text-dark: #1f1f1f;
  --text-gray: #555555;

  /* ===== FUENTES ===== */
  --font-text: 'Inter', system-ui, -apple-system, sans-serif;
  --font-title: 'Montserrat', sans-serif;
}
